{% extends 'base.html' %}

{% block content %}
<main class="container" style="padding-top:50px;">

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center large">COMMUNIQUE FOR SO SO AND SO THING</h4>
                <p>So so and so person upstairs just said that...<p>
            </div>
            <div class="col-md-6">
                <h4 class="text-center large">MOST RECENT POSTS</h4>
                <div class="alert alert-info">Login or sign up to see replies and ask questions</div>
                {% for post in posts %}
                {% include '_post.html' %}
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock content %}