{% extends 'base.html' %}

{% block content %}
<form role="form" method="POST" action="">
    {{login_form.hidden_tag()}}
    <div class="form-group">
        {{login_form.email.label}}
        {{login_form.email(size=32, class="form-control")}}
    </div>
    <div class="form-group">
        {{login_form.password.label}}
        {{login_form.password(size=32, class="form-control")}}
    </div>
    <div class="form-group">
        {{login_form.submit(class="btn btn-primary")}}
    </div>
</form>
{% endblock content %}